<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="D:/app_logs/ecom" />
    <appender name="WS-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/ws/ws.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}] [%C] [%M] :: %msg %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/ws/ws.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/file/file.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/file/file.log.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}] [%C] [%M] :: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [%C] [%M] :: %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="org.hibernate.type" level="ALL" />
    <logger name="org.hibernate" level="DEBUG" />
    <logger name="ws" level="DEBUG" additivity="true">
        <appender-ref ref="WS-FILE" />
    </logger>
    <root>
        <appender-ref ref="FILE" />
    </root>

</configuration>