 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
    	<div th:replace="fragments/admincommon :: adminloginheader"></div>
    </head>
    <body class="account-page">
    	<!-- Main Wrapper -->
	    <div class="main-wrapper">
				<div class="account-content">
					<!-- <a href="job-list.html" class="btn btn-primary apply-btn">Apply Job</a> -->
					<div class="container">
					
						<!-- Account Logo -->
						<div class="account-logo">
							<a href="index.html"><img th:src="@{/assets/img/logo2.png}" alt="Aneel Sports"></a>
						</div>
						<!-- /Account Logo -->
						
						<div class="account-box">
							<div class="account-wrapper">
								<h3 class="account-title">Login</h3>
								<p class="account-subtitle">Access to our dashboard</p>
								
								<!-- Account Form -->
								<form th:action="@{/web/admin/login/dashboard}" method="post">
									<div class="form-group">
										<label>User Name</label>
										<input class="form-control" type="text"  th:name="username" id="username" placeholder="UserName"/>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col">
												<label>Password</label>
											</div>
											<div class="col-auto">
												<a class="text-muted" href="forgot-password.html">
													Forgot password?
												</a>
											</div>
										</div>
										<input class="form-control" type="password"  th:name="password" id="password" placeholder="Password">
									</div>
									<div class="form-group text-center">
										<button class="btn btn-primary account-btn" type="submit">Login</button>
									</div>
									<div class="account-footer">
										<p>Don't have an account yet? <a href="register.html">Register</a></p>
									</div>
								</form>
								<!-- /Account Form -->
								
							</div>
						</div>
					</div>
				</div>
	        </div>
			<!-- /Main Wrapper -->
			<div th:replace="fragments/admincommon :: adminloginfooter"></div>
    </body>
</html>